# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Int & Float Assignments

##### Assigning int

In [5]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [6]:
my_float = 123.456
print(my_float)
print(type(my_float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [8]:
print(2+3)
my_var1 = 2
my_var2 = 3
print(my_var1 + my_var2)

5
5

In [ ]:
my_new_num = 123
my_new_num += 2
print(my_new_num)

##### Subtraction

In [14]:
num1 = 2
num2 = 5.7

In [15]:
result_diff = num1 - num2
print(result_diff)
result_diff -= 3
print(result_diff)

-3.7
-6.7

##### Multiplication

In [16]:
result_prod = num1 * num2
print(result_prod)
result_prod*=2
print(result_prod)

11.4
22.8

##### Division

In [18]:
result_div = 4 / 2
print(result_div)

2.0

##### Floor Division

In [19]:
result_floor = 5//2
print(result_floor)

2

##### Modulo

In [21]:
result_mod = 5%2
print(result_mod)

1

##### Exponential

In [23]:
result_expo = 3**3
print(result_expo)
result_expo **=2
print(result_expo)

27
729

### String Input-Output

##### String Assignment

In [24]:
name = "Kevin"
name = 'Kevin'
print(name)

Kevin

In [33]:
word = "\"Kevin's jacket is awesome\", he said."
name = """
hey
there new
"he's so smart"
    guy
"""
print(name)

hey
there new
"he's so smart"
    guy

##### print() <br>
<p>Don't forget about end=' '</p>

In [31]:
print(name,"is my name", sep=" ", end="\t")
print(name,"is my name", sep=" ", end="\n")
print("the second line")

Kevin is my name	Kevin is my name
the second line

##### String Concatenation

In [36]:
first = "Kristen"
last = "Nakamoto"
full_name = first + " " + last
print(full_name)
full_name +=" is a great student"
print(full_name)

Kristen Nakamoto
Kristen Nakamoto is a great student

##### Type Conversion

In [40]:
num1 = 3
num2 = "4"

print(num1 + int(num2))
print(str(num1)+num2)

7
34

##### input()

In [43]:
#input always returns a string
age = input("What is your age? ")
print(age)
print(type(age))

age = int(input("What is your age? "))
print(age)
print(type(age))

What is your age? 30
30
<class 'str'>
What is your age? 30
30
<class 'int'>

##### format()

In [45]:
age =int(input("what is your age? "))
result_string='you are {} years old and you are getting wiser!'.format(age) # .format(places this value in the {} bracks)
print(result_string)

what is your age? 30
you are 30 years old and you are getting wiser!

#### f-strings

In [47]:
age =int(input("what is your age? "))

result_string = f'You are {age} years old and getting wiser!' #this method is easier than using .format
print(result_string)

age =int(input("what is your age? "))
x=26
result_string = f'You are {age} years old and getting wiser! {x}' #this method is easier than using .format
print(result_string)

what is your age? 30
You are 30 years old and getting wiser!
what is your age? 30
You are 30 years old and getting wiser! 26

##### Old Way (python 2)

In [48]:
age = "35"
result_str = 'You are %s and you look great for your age!' %age
print(result_str)

You are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [50]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
output = f'You drive a {year} {make} {model} that is painted {color} and it looks awesome!'
print(output)

What color is your car? Black
What year is your car? 2018
What make is your car? Audi
What model is your car? Q7
You drive a 2018 Audi Q7 that is painted Black and it looks awesome!

### If Statements

In [53]:
#boolean is a True or False function
bool("You're Mom is stinky")

True

In [54]:
num1 = 5
num2 = 10

if num1 != num2:
    #the code block is here
    #If 'if statement' is true, execute this code block
    #If false, move to next code block
    print(" not equal")
else: 
    #If 'if statement' is false, execute this code block
    print("equal")

 not equal

In [58]:
num1 = 20
num2 = 2

if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is lesser")
#elif means 'else if'
else:
    print("equal to")

num1 is greater

In [60]:
num1 == 20 and num2 == 4

False

In [69]:
True and True or False and True

True

In [62]:
num2 == 2 or num1 == 20

False

In [71]:
#Ternary Operator ... inline if statements
# [value if true] [if] [boolean] [else] [value if false]

name = "john"

my_num = 5 if name =="steve" else 0
print(my_num)

my_num = 5 if name =="steve" else 10 if name=="john" else 0
print(my_num)

0
10

##### 'is' keyword

In [72]:
#don't use 'is' unless you're asking if the variable 'is' 'none'
y = None
if y is None:
    print("y is None")

y is None

##### 'in' keyword

In [75]:
#check if a char is in a name
char_name = "Max Payne"
if "Max" in char_name:
    print("the character who lost everything...")
else:
    print("Not Found")

the character who lost everything...

##### 'not in' keyword'

In [77]:
#'not in' keyword
sega_char = "sonic"
if 's' not in sega_char:
    print("s is not in the name...!!!")

a is NOT in here....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [83]:
statement = input("Write a Statement: ")
if 'p' not in statement.lower():
    print("You're statement did not include the letter 'P'")
else:
    print("We've been trying to reach you about your cars extended warranty")

Write a Statement: Hello Paul!
We've been trying to reach you about your cars extended warranty

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [86]:
# for [placeholder] in [iterable]
# wtf is an 'iterable'?

name = "Zavier"
for letter in name:
    print(f"the next letter is {letter}")
    print("another line")
print("a third line")

the next letter is Z
another line
the next letter is a
another line
the next letter is v
another line
the next letter is i
another line
the next letter is e
another line
the next letter is r
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [94]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [97]:
x, y = ["a","b"]
print(x)
print(type(x))
print(y)
print(type(y))

a
<class 'str'>
b
<class 'str'>

In [109]:
foods = ["pizza", "tacos", "dimsum", "sushi", "crispy chicken sandwich"]

for food in foods: 
    print(food.title())
    print(foods)
    print(type(foods))
    print(list(range(len(foods))))

Pizza
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]
Tacos
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]
Dimsum
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]
Sushi
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]
Crispy Chicken Sandwich
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]

In [101]:
len(foods)

4

In [105]:
list(range(len(foods)))

[0, 1, 2, 3]

In [112]:
for index in range(len(foods)):
    print(index)
    print(foods[index])
    # () work on methods and functions
    # [] work on indexing

0
pizza
1
tacos
2
dimsum
3
sushi
4
crispy chicken sandwich

In [116]:
for index, food in enumerate(foods):
    print(f"at index {index} the value is {food}")
print(type(index))
print(type(food))

at index 0 the value is pizza
at index 1 the value is tacos
at index 2 the value is dimsum
at index 3 the value is sushi
at index 4 the value is crispy chicken sandwich
<class 'int'>
<class 'str'>

##### Break Statement

In [118]:
for n in range(10):
    if n == 5:
        break;
    print("move to next")

move to next
move to next
move to next
move to next
move to next

In [120]:
for n in range(10):
    if n == 5:
        continue;
    print("move to next")

move to next

##### Pass Statement

In [4]:
for food in foods:
    pass

##### Double For Loops

In [122]:
#double loops are bad
for i in range(5):
    for j in range(5):
        print(f'i={i} j={j}')

i=0 j=0
i=0 j=1
i=0 j=2
i=0 j=3
i=0 j=4
i=1 j=0
i=1 j=1
i=1 j=2
i=1 j=3
i=1 j=4
i=2 j=0
i=2 j=1
i=2 j=2
i=2 j=3
i=2 j=4
i=3 j=0
i=3 j=1
i=3 j=2
i=3 j=3
i=3 j=4
i=4 j=0
i=4 j=1
i=4 j=2
i=4 j=3
i=4 j=4

### While Loops

In [5]:
# while [boolean]:
    #code block

In [123]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
while True:
    print("hello")
    break

In [125]:
while True:
    user_input = input("What do you want to do? quit or continue?")
    if user_input.lower() == "quit":
        break
    elif user_input.lower() == "continue":
        continue
    print("Input ERROR")

What do you want to do? quit or continue?continue
What do you want to do? quit or continue?hel
Input ERROR
What do you want to do? quit or continue?wat
Input ERROR
What do you want to do? quit or continue?continue
What do you want to do? quit or continue?continue
What do you want to do? quit or continue?quit

##### While & For Loops Used Together

In [126]:
num = 0
while num < 5:
    print("while loop iteration: ", num)
    for i in range(5):
        print("for loop iteration: ", i)
    num += 1

while loop iteration:  0
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  1
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  2
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  3
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  4
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4

### Built-In Functions

##### range()

In [128]:
#range(start, stop, setp)
#range(stop)
#range(start, stop)

##### len()

In [129]:
len("hey")

3

##### help()

In [130]:
 help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [131]:
num = 1
type(num)

int

In [134]:
isinstance(num, int)

True

##### abs()

In [136]:
# absolute value
# | -5 | = 5 ... dist from zero

print(abs(5))
print(abs(-5))

5
5

### Try and Except

In [11]:
int("Steve")

In [142]:
try:
    3/0
    print("it worked")
except ValueError: 
    print("you don f'd up")
except ZeroDivisionError:
    print("you can't divide by 0")
finally:
    print("okay move along")

you can't divide by 0
okay move along

In [ ]:
! - bang, point, exclamation point
# - pound sign, or hash, or hashtag
[] - brackets
() - paranthesis
{} - braces, curley brackets, curlies
#! - shebang
% - grapes
<> - angle brackets / greater than or less than
^ - carrot

### Lists

##### Declaring Lists

In [148]:
names = ["Kristina", "Frances", "Kenny", "Zak"]
print(names)

print(names[1:3])
names[::-1] #reverse list

['Kristina', 'Frances', 'Kenny', 'Zak']
['Frances', 'Kenny']

['Zak', 'Kenny', 'Frances', 'Kristina']

##### Indexing a List

In [145]:
print( names[2])

a_list = [1,2,3,["a","b","c"],4]
a_list[3][1]

Kenny

'b'

##### .append()

In [168]:
names = ["Kristina", "Frances", "Kenny", "Zak"]

In [169]:
names.append("Eryn")
print(names)

['Kristina', 'Frances', 'Kenny', 'Zak', 'Eryn']

In [150]:
names = names.append("Eryn")
print(names)

None

##### .insert()

In [170]:
names.insert(1, "Chelsey")
print(names)

['Kristina', 'Chelsey', 'Frances', 'Kenny', 'Zak', 'Eryn']

##### .pop()

In [165]:
print(names.pop(1).upper()+" is awesome")
names

CHELSEY is awesome

['Kristina', 'Frances', 'Kenny', 'Zak', 'Eryn']


##### .remove()

In [171]:
names.append("Zak")
names.remove("Zak")
names

['Kristina', 'Chelsey', 'Frances', 'Kenny', 'Eryn', 'Zak']

##### del()

In [177]:
names = ["Kristina", "Frances", "Kenny", "Zak"]
del names[1]
names

['Kristina', 'Kenny', 'Zak']

In [178]:
# do NOT EVER use del in a for loop!!!!!!!!

for i in range(len(names)):
    if i==2:
        del names[i]
    print(print(names[i]))
print(names)

Kristina
None
Kenny
None

IndexError: list index out of range

##### Concatenating Two Lists

In [179]:
l1 = [1,2,3]
l2 = [4,5,6]

l1 + l2

[1, 2, 3, 4, 5, 6]

In [ ]:
l2.extend(l1)
l2

##### Lists Within Lists

In [182]:
my_nested_list = ["max", "Sally", "Jason", [1,2,["a", "b"],3], "Jessica"]

my_nested_list[3][2][1]

'b'

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [205]:
cubed_list = []
for cube in range(1,1001):
    cube = cube**3
    cubed_list.append(cube)
    if cube == 1000:
        break
    
print(cubed_list)
    
# started with an empty list
# created parameters with range 1 - 1000 to make sure I capture all cubed numbers
# pulled each number from the range to cube them
# added the cubed numbers to the list
# created the break point at 1000
# printed the list of cubed numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [190]:
for i in range(1,101):
    if i == 1:
        continue
    elif i % 2 == 0 and i != 2:
        continue    
    elif i % 3 == 0 and i != 3:
        continue
    elif i % 5 == 0 and i != 5:
        continue
    elif i % 7 == 0 and i != 7:
        continue
    elif i % 9 == 0:
        continue
    else:
        print(i)

# I started with the min and max of the numbers
# I looked up the rules of prime numbers, then created an if, elif, else code block
# I wrote the rules through the code block and included 'and' statements to solve for the exceptions of the rule

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [215]:
while True:
    age_input = int(input("How old are you? Find the oldest person alive's age to quit: "))
    if age_input < 18:
        print("GET OFF MY LAWN!!!")
    elif age_input < 65:
        print("You're an Adult!")
    elif age_input < 100:
        print("Incenerator or Shovel?")
    elif age_input < 122:
        print("How are you still alive?")
    else:
        print("You must be the oldest person alive, congratulations!")
        break
    
        
# Following the above examples I started with a while loop to generate input with input function
# created the parameters with if, elif, else to generate responses continuing Kevin's dark humor

How old are you? Find the oldest person alive's age to quit: 122
You must be the oldest person alive, congratulations!